.story-title {
  width: 800px;
}

ul {
  padding-left: 0;
}

.title-url li {
  list-style: none;
  display: inline;
}

.url {
  font-size: 12px;
  color: gray;
}

.story-points {
  font-size: 12px;
  font-stretch: expanded;
  color: gray;
}

tr {
  background-color: #f2f2f2;
}